{% extends "campaigns/base.html" %}
{% load staticfiles %}
{%block title %} TedX - Корзина {% endblock %}
{% block content %}
<h1>Кошик</h1>
<div class="col col-xs-12 ticket">
                <div class="row">
                    <div class="col col-xs-6 ">
                        <h3><b>{{cart.ticket_type.type}}</b></h3>
                        <h5><b>Актова зала КПІ</b></h5>
                        <p>Опис події(слоган події)</p>
                        <img src="{% static 'pic/logo.png' %}" />
                    </div>
                    <div class="col col-xs-2 ticket-info">
                        <p>Дата: 08.05.2016</p>
                        <p>Початок: 18:00</p>
                        <p>Ціна: {{cart.ticket_type.cost}} грн.</p>
<p>Статус: {%if cart.status == 'CREATED'%}
        Payment is not completed.
    {%endif%}
    {%if cart.status == 'PAYMENT_FAILED'%}
        Payment failed.
    {%endif%}
    {%if cart.status == 'TICKET_ISSUED'%}
        Оплату підтвердженно!
    {%endif%}</p>
                    </div>
                    <div class="col col-xs-4">
{%if cart.status == 'CREATED' or cart.status == 'PAYMENT_FAILED'%}
<div class="liqpay">
{{liqpay_form|safe}}</div>
{%endif%}
{%if cart.status == 'TICKET_ISSUED'%}
        <a class="icon-ticket-success" href="{{ cart.ticket.get_absolute_url }}" rel="nofollow"></a>
{%endif%}
                    </div>
                </div>
            </div>


{% endblock %}
