{% extends "campaigns/base.html" %}
{% load staticfiles %}
{%block title %}TEDx KPI - Кошик {% endblock %}
{% block content %}
<h1>Кошик</h1>
<div class="col col-xs-12 ticket">
                <div class="row">
                    <div class="col col-xs-6 ">
                        <h3><b>{{cart.ticket_type.type}}</b></h3>
                        <h5><b>{{ cart.ticket_type.campaign.place }}</b></h5>
                        <img src="{% static 'pic/logo.png' %}" />
                    </div>
                    <div class="col col-xs-2 ticket-info">
                        <p>Дата та час: <br>{{cart.ticket_type.campaign.date|date:"d E Y"}} о {{cart.ticket_type.campaign.time|time:"H:i"}}</p>
                        <p>Ціна: {{cart.ticket_type.cost}} грн.</p>
                    </div>
                    <div class="col col-xs-4">
{% if cart.status == 'CREATED' %}
<div class="liqpay">
{{liqpay_form|safe}}</div>
{%endif%}
{%if cart.status == 'TICKET_ISSUED'%}
        <a class="icon-ticket-success" href="{{ cart.ticket.get_absolute_url }}" rel="nofollow"></a>
{%endif%}
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col col-xs-12">
                        <p class="alert alert-info"><b>Статус:</b> {%if cart.status == 'CREATED'%}
        Оплата ще не здійснена.
    {%endif%}
    {%if cart.status == 'PAYMENT_FAILED'%}
        Помилка оплати.
    {%endif%}
    {%if cart.status == 'PAYMENT_WAIT_ACCEPT'%}
        Успішна оплата, очікування верифікації зі сторони LiqPay...
    {%endif%}
    {%if cart.status == 'UNKNOWN_STATUS'%}
        {% if liqpay_data.lp_status == 'cash_wait' %}
            Ви обрали оплату готівкою. Оплатіть через термінал ПриватБанку за номером рахунку <i>{{liqpay_data.lp_payment_id}}</i>.
        {% else %}
        Отриманий неочікуваний статус платежу, якщо у вас є питання - звертайтесь до організаторів.
        {% endif %}
    {%endif%}
    {%if cart.status == 'TICKET_ISSUED'%}
        Оплату підтвердженно!
    {%endif%}</p>
                    </div>
                </div>
            </div>


{% endblock %}
