{% extends "campaigns/base.html" %}
{% load staticfiles %}
{%block title %} TedX {% endblock %}
{% block content %}
<h1>Квитки</h1>
<div class="row">

    <form method="POST" name="buy">{% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-danger">{{form.non_field_errors}}</div>
        {% endif %}
        <div class="form-group">
            <label for="surname">Прізвище: *</label> {%if form.surname.errors%}
    {% for error in form.surname.errors %}<span class="label label-danger">{{error|escape}}</span>{%endfor%}{%endif%}
            <input type="text" class="form-control" placeholder="Згуровський" id="surname" name="surname" value="{%if form.surname.value%}{{form.surname.value}}{%endif%}">

            <label for="name">Ім'я: *</label> {%if form.name.errors%}
    {% for error in form.name.errors %}<span class="label label-danger">{{error|escape}}</span>{%endfor%}{%endif%}
            <input type="text" class="form-control" placeholder="Михайло" id="name" name="name" value="{%if form.name.value%}{{form.name.value}}{%endif%}">
            
            <label for="midname">По батькові: *</label> {%if form.midname.errors%}
    {% for error in form.midname.errors %}<span class="label label-danger">{{error|escape}}</span>{%endfor%}{%endif%}
            <input type="text" class="form-control" placeholder="Захарович" id="midname" name="midname" value="{%if form.midname.value%}{{form.midname.value}}{%endif%}">
            
            <label for="phone_number">Контактний номер телефону: *</label> {%if form.phone_number.errors%}
    {% for error in form.phone_number.errors %}<span class="label label-danger">{{error|escape}}</span>{%endfor%}{%endif%}
            <div class="input-group">
              <span class="input-group-addon" id="phone_number-plus">+</span>
              <input type="text" class="form-control"  placeholder="380001234567" aria-describedby="phone_number-plus" id="phone_number" name="phone_number" value="{%if form.phone_number.value%}{{form.phone_number.value}}{%endif%}">
            </div>
            
            <label for="email">Ваш e-mail: *</label> {%if form.email.errors%}
    {% for error in form.email.errors %}<span class="label label-danger">{{error|escape}}</span>{%endfor%}{%endif%}
            <input type="email" class="form-control" placeholder="mykhailo@example.com" id="email" name="email" value="{%if form.email.value%}{{form.email.value}}{%endif%}">
            
            <label for="facebook_url">Профіль Facebook:</label> {%if form.facebook_url.errors%}
    {% for error in form.facebook_url.errors %}<span class="label label-danger">{{error|escape}}</span>{%endfor%}{%endif%}
            <input type="text" class="form-control" placeholder="https://www.facebook.com/zgurovsky" id="facebook_url" name="facebook_url" value="{%if form.facebook_url.value%}{{form.facebook_url.value}}{%endif%}">
            
            <label for="vk_url">Профіль VK:</label> {%if form.vk_url.errors%}
    {% for error in form.vk_url.errors %}<span class="label label-danger">{{error|escape}}</span>{%endfor%}{%endif%}
            <input type="text" class="form-control" placeholder="https://vk.com/zgurovsky" id="vk_url" name="vk_url" value="{%if form.vk_url.value%}{{form.vk_url.value}}{%endif%}">
            
            <label for="residence">Місто проживання: *</label> {%if form.residence.errors%}
    {% for error in form.residence.errors %}<span class="label label-danger">{{error|escape}}</span>{%endfor%}{%endif%}
            <input type="text" class="form-control" placeholder="Київ" id="residence" name="residence" value="{%if form.residence.value%}{{form.residence.value}}{%endif%}">
            
            <label for="working_place">Місце навчання/роботи:</label> {%if form.working_place.errors%}
    {% for error in form.working_place.errors %}<span class="label label-danger">{{error|escape}}</span>{%endfor%}{%endif%}
            <input type="text" class="form-control" placeholder="КПІ, ФІОТ" id="working_place" name="working_place" value="{%if form.working_place.value%}{{form.working_place.value}}{%endif%}">
        </div>
        {% for tickettype in object_list %}
                    <div class="col col-xs-12 ticket">
                        <div class="row">
                            <div class="col col-xs-6 ">
                                <h3><b>{{tickettype.type}}</b> {%if not tickettype.public%}<span class="label label-info">Private</span>{%endif%}</h3>
                                <h5><b>{{tickettype.campaign.place}}</b></h5>
                                <img src="{% static 'pic/logo.png' %}" />
                            </div>
                            <div class="col col-xs-2 ticket-info">
                                <p>Дата: {{tickettype.campaign.date|date:"d.m.Y"}}</p>
                                <p>Початок: {{tickettype.campaign.time|time:"H:i"}}</p>
                                <p>Ціна: {{tickettype.cost}} грн.</p>
                            </div>
                            <div class="col col-xs-4">
                                <button class="icon-ticket" type="submit" name="submit" value="{{tickettype.id}}"></button>
                            </div>
                        </div>
                    </div>


           {% empty %}
            <h2>No ticket types available.</h2>


        {% endfor %}
    </form>
</div>

{% endblock %}
